$testing-border: 1px solid red;
$popup-height: 580px;
$popup-width: 780px;

body {
  width: $popup-width;
  height: $popup-height;
  background-color: rgba(241, 242, 242, 1);
  // border: $testing-border;
}

@font-face {
  font-family: 'Poppins Light';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
}

#leaguename {
  margin-top: 2px;
  margin-right: 125px;
  margin-bottom: 0;
  margin-left: 30px; /* Same as the width of the sidebar */
  padding: 0 10px;
  background-color: rgba(241, 242, 242, 1);
  border-bottom: 5px solid white;
}
.sidenav {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0;
  right: 0;
  z-index: 1; /* Stay on top */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90px; /* Set the width of the sidebar */
  height: 100%;
  padding: 10px 0 10px 0;
  overflow-y: hidden;
  text-align: center;
  background-color: rgba(241, 242, 242, 1);
  border-left: 5px solid white;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

button {
  font-size: small;
  border: 2px solid #4caf50;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

#table {
  width: 590px;
  margin-left: 50px;
}

#matches{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  font-size: medium;
}

h6 {
  font-family: 'Poppins Bold';
  font-size: medium;
  font-weight: 600;
}

.col-sm {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
#results {
  left: 0;
  margin-right: 95px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: rgba(241, 242, 242, 1);
}

.match-row {
  display: flex;
  justify-content: center;
}

.table-stat {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  align-items: center;

  p {
    // width: 100%;
    height: 100%;
    margin: 0;
  }
}

.table-team {
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    margin: 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 600px;
    margin-left: 25px;
    padding-right: 25px;
  }
}

.blackwhite {
  width: 35px;
  filter: grayscale(100%);
  transition-duration: 0.4s;
}
.blackwhite:hover {
  width: 60px;
  filter: grayscale(0%);
}
nav {
  background-color: rgba(217, 217, 217, 1);
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  justify-content: start;
}

.scorebg {
  background-color: rgb(230, 231, 232);
}
.teamlogos {
  border-radius: 50%;
}
.nav-text {
  margin-right: 20px;
}

span {
  width: 100px;
  font-size: small;
  font-family: 'Poppins Regular';
}

.first {
  
  // border-right: 5px solid white !important;
  border-bottom: 1px solid #dee2e6;
}

.separation {
  border-right: 5px solid white;
  font-weight: lighter;
}
.navbar {
  border-bottom: 5px solid white;
}

.team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  border-bottom: 5px solid white;
}

.strong-gray {
  background-color: rgb(230, 231, 232);
}

.light-gray {
  background-color: rgba(241, 242, 242, 1);
}

.topbar {
  font-family: 'Poppins Regular';
}

p {
  font-family: 'Poppins Light';
}
// #dee2e6

//230, 231, 232

#lastUpdated {
  font-size: x-small;
}